<!DOCTYPE html>
<html>
<head>
    <title>About Us - Pied Tropics Ltd</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .jumbotron {
            background-image: url('background-image.jpg');
            background-size: cover;
            color: white;
            text-align: center;
            padding: 100px 0;
        }
        .about-content {
            padding: 50px 0;
        }
    </style>
</head>
<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">Pied Tropics Ltd</a>
        <!-- Add navigation links here if needed -->
    </nav>

    <!-- Jumbotron section -->
    <div class="jumbotron">
        <h1>About Pied Tropics Ltd</h1>
        <p>Learn about our journey in exporting fresh fruits and vegetables from Uganda to the world.</p>
    </div>

    <!-- About content section -->
    <div class="container about-content">
        <div class="row">
            <div class="col-md-6">
                <h2>Our Mission</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis libero at dui interdum, id tempus odio gravida.</p>
            </div>
            <div class="col-md-6">
                <h2>Our Vision</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis libero at dui interdum, id tempus odio gravida.</p>
            </div>
        </div>
    </div>

    <!-- Include Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>